<!-- Children -->
<router-outlet></router-outlet>
<br><br><br><br><br>
<div>
    <h1>Auth</h1>
</div>
<button type="button" class="btn btn-primary"><a routerLink="sign-in" style="color:white;">Sign-in</a></button>
<button type="button" class="btn btn-primary"><a routerLink="sign-up" style="color:white;">Sign-up</a></button>
<button type="button" class="btn btn-primary"><a routerLink="forgot-password" style="color:white;">forgot-password</a></button>
<button type="button" class="btn btn-primary"><a routerLink="verify-email" style="color:white;">verify-email</a></button>
<button type="button" class="btn btn-primary"><a routerLink="account" style="color:white;">account</a></button>

