.container{
    padding:75px 20px;
    background-color:white;
    min-width:100%;
    margin:0 auto;
}

.container h1{
    font-family: montserrat;
    font-size: 40px;
    text-align: center;
    font-weight:300;
    padding:0px;
    margin:0px;
    margin-bottom:25px;
}

.container p{
    text-align:center;
    font-family:montserrat;
    font-weight:300;
    padding:0px;
    margin:0px;
    font-size:20px;
    line-height: 25px;
}