#photos {
    display: flex;
    flex-wrap: wrap;
    overflow:hidden;
    /*Used to remove photo white border on left side of screen.*/
    margin-left:-4px;
    margin-top:2px;
}

#photos::after{
    content: '';
    flex-grow: 9999999;
}

.photo-id{
    flex-grow: 1;
    height: 350px;
    margin: 2px;
    margin-left:4px;
    margin-right:0px;
}
  
#photos img {
    height: 350px;
    object-fit: cover;
    max-width: 100%;
    min-width: 100%;
    vertical-align: bottom;
    transition:0.2s all ease;
}

.photo-id:hover img{
    transform: scale(0.98);
}

