
<app-banner bTitle="Photography" 
            bSubTitle="A little taste of my style.">
</app-banner>
<router-outlet></router-outlet>
<section id="photos" [@galleryAnimation]="images.length">
    <a class="photo-id" *ngFor="let image of getImagesService()" routerLink="{{image.id}}">
            <div aTilt>
                <picture>
                    <source srcset="{{image.webpLow}}" type="image/webp">
                    <source srcset="{{image.jpgLow}}" type="image/jpeg">
                    <img [src]="image.jpgLow" alt="Photograph">
                </picture>
            </div>
    </a>
</section>


<!-- <section id="photos">
     Thumbnail image - click to open lightbox of image 
    <a *ngFor="let image of assetsImages" href="/photography#{{image.name}}"><img class="thumbnail" [src]="image.link"></a>
   
     Lightbox image - click to close image 
    <a href="/photography#browse" *ngFor="let image of assetsImages">
        <div class="background-lightbox" [id]="image.name">
            <h1>Title: {{image.title}}</h1>
            <p>{{image.description}}</p>
            <p>{{image.location}}</p>
            <div class="container">
                <div class="inner">
                    <span>i</span>
                    <h1>Title: {{image.title}}</h1>
                    <p>{{image.description}}</p>
                    <p>{{image.location}}</p>
                </div>
            </div>

            <img class="close-lightbox" src="/assets/ui/md-x-white.svg">
            <img class="lightbox" [src]="image.link">
        </div>
    </a>
</section> -->
