#photos {
    display: flex;
    flex-wrap: wrap;
    overflow:hidden;
    /*Used to remove photo white border on left side of screen.*/
    margin-left:-4px;
    margin-top:2px;
    background-color: white;
}

#photos::after{
    content: '';
    flex-grow: 999999;
}

.photo-id{
    flex-grow: 1;
    height: 400px;
    margin: 2px;
    margin-left:4px;
    margin-right:0px;
}
.photo-id:hover img{
    transform: scale(0.9);
    z-index:1000000!important;
    position: relative;
    display: block;
}


#photos img {
    height: 400px;
    object-fit: cover;
    max-width: 100%;
    min-width: 100%;
    vertical-align: bottom;
    transition:0.2s all ease;
    z-index: 0;
}

