.footer-text{
    margin:0px;
    padding:20px;
    font-size:12px;
    color: rgb(99, 99, 99);
    padding-bottom:18px;
}

.footer-text img{
    max-width:35px;
    border-radius: 10px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072); 
    margin-right: 25px;
}
.footer-text-two{
    max-width:300px;
    width: 100%;
    text-align: right;
    padding:20px;
    position: relative;
}

.footer {
    width: 100%;
    margin-top:0px;
    background-color: white;
    border-top: 1px solid rgba(0,0,0,0.08);
    bottom: 0;
}

.angular-logo img{
    max-width:20px;
    vertical-align: middle;
    margin-right:5px;
    margin-top:-5px;
    
}

@media only screen and (max-width: 670px) {
    .footer-text{
        float: unset;
        margin:0 auto;
        padding-bottom:15px;
        padding-top:40px;
    }
    .footer-text-two{
        float: unset;
        margin: 0 auto;
        text-align: center!important;
        padding-top:0px;
        padding-bottom: 40px;
    }
    .footer{
        text-align: center;
        margin: 0 auto;
    }
}