.footer-text{
    margin-left:20px;
    position: relative;

    float: left;
    padding:20px;
}
.footer-text-two{
    width:200px;
    float: right;
    padding:20px;
    position: relative;
}

footer {
    position: relative;
    width: 100%;
}

.angular-logo img{
    max-width:20px;
    vertical-align: middle;
    margin-right:5px;
}

@media only screen and (max-width: 550px) {
    .footer-text{
        float: unset;
        margin:0 auto;
        padding-bottom:15px;
    }
    .footer-text-two{
        float: none;
        margin: 0 auto;
        padding-top:0px;
        padding-bottom: 40px;
    }
    footer{
        text-align: center;
        margin: 0 auto;
    }
}