.footer-text{
    margin-left:20px;
    position: relative;
    bottom: 0;
    left:0;
    float: left;
}
.footer-text-two{
    width:200px;
    float: right;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
   }

   .angular-logo img{
       max-width:20px;
       vertical-align: middle;
       margin-right:5px;
   }