<app-banner-two 
    bTitle="Prevail Gaming" 
    bSubTitle="Design assets created for Prevail Gaming."
></app-banner-two>
<div class="container">
    <h2 class="prevail-title">Banners</h2>
    <img class="banner" src="/assets/designs/prevail-gaming/banners/banner1.png" alt="Banner 1">
    <img class="banner" src="/assets/designs/prevail-gaming/banners/banner2.png" alt="Banner 2">
    <img class="banner" src="/assets/designs/prevail-gaming/banners/banner3.png" alt="Banner 3">
    <img class="banner" src="/assets/designs/prevail-gaming/car.jpg" alt="Car image">

    <h2 class="prevail-title">User Images</h2>
    <div class="users">
        <picture>
            <source srcset="/assets/designs/prevail-gaming/users/webp/image (1).webp" type="image/webp">
            <source srcset="/assets/designs/prevail-gaming/users/png/image (1).png" type="image/png"> 
            <img src="/assets/designs/prevail-gaming/users/jpeg/image (1).png" alt="User Profile Image">
        </picture>
        <picture>
            <source srcset="/assets/designs/prevail-gaming/users/webp/image (2).webp" type="image/webp">
            <source srcset="/assets/designs/prevail-gaming/users/png/image (2).png" type="image/png"> 
            <img src="/assets/designs/prevail-gaming/users/jpeg/image (2).png" alt="User Profile Image">
        </picture>
        <picture>
            <source srcset="/assets/designs/prevail-gaming/users/webp/image (3).webp" type="image/webp">
            <source srcset="/assets/designs/prevail-gaming/users/png/image (3).png" type="image/png"> 
            <img src="/assets/designs/prevail-gaming/users/jpeg/image (3).png" alt="User Profile Image">
        </picture>
        <picture>
            <source srcset="/assets/designs/prevail-gaming/users/webp/image (4).webp" type="image/webp">
            <source srcset="/assets/designs/prevail-gaming/users/png/image (4).png" type="image/png"> 
            <img src="/assets/designs/prevail-gaming/users/jpeg/image (4).png" alt="User Profile Image">
        </picture>
        <picture>
            <source srcset="/assets/designs/prevail-gaming/users/webp/image (5).webp" type="image/webp">
            <source srcset="/assets/designs/prevail-gaming/users/png/image (5).png" type="image/png"> 
            <img src="/assets/designs/prevail-gaming/users/jpeg/image (5).png" alt="User Profile Image">
        </picture>
        <picture>
            <source srcset="/assets/designs/prevail-gaming/users/webp/image (6).webp" type="image/webp">
            <source srcset="/assets/designs/prevail-gaming/users/png/image (6).png" type="image/png"> 
            <img src="/assets/designs/prevail-gaming/users/jpeg/image (6).png" alt="User Profile Image">
        </picture>
        <picture>
            <source srcset="/assets/designs/prevail-gaming/users/webp/image (7).webp" type="image/webp">
            <source srcset="/assets/designs/prevail-gaming/users/png/image (7).png" type="image/png"> 
            <img src="/assets/designs/prevail-gaming/users/jpeg/image (7).png" alt="User Profile Image">
        </picture>
        <picture>
            <source srcset="/assets/designs/prevail-gaming/users/webp/image (8).webp" type="image/webp">
            <source srcset="/assets/designs/prevail-gaming/users/png/image (8).png" type="image/png"> 
            <img src="/assets/designs/prevail-gaming/users/jpeg/image (8).png" alt="User Profile Image">
        </picture>
        <picture>
            <source srcset="/assets/designs/prevail-gaming/users/webp/image (9).webp" type="image/webp">
            <source srcset="/assets/designs/prevail-gaming/users/png/image (9).png" type="image/png"> 
            <img src="/assets/designs/prevail-gaming/users/jpeg/image (9).png" alt="User Profile Image">
        </picture>
        <picture>
            <source srcset="/assets/designs/prevail-gaming/users/webp/image (10).webp" type="image/webp">
            <source srcset="/assets/designs/prevail-gaming/users/png/image (10).png" type="image/png"> 
            <img src="/assets/designs/prevail-gaming/users/jpeg/image (10).png" alt="User Profile Image">
        </picture>
        <picture>
            <source srcset="/assets/designs/prevail-gaming/users/webp/image (11).webp" type="image/webp">
            <source srcset="/assets/designs/prevail-gaming/users/png/image (11).png" type="image/png"> 
            <img src="/assets/designs/prevail-gaming/users/jpeg/image (11).png" alt="User Profile Image">
        </picture>
        <picture>
            <source srcset="/assets/designs/prevail-gaming/users/webp/image (12).webp" type="image/webp">
            <source srcset="/assets/designs/prevail-gaming/users/png/image (12).png" type="image/png"> 
            <img src="/assets/designs/prevail-gaming/users/jpeg/image (12).png" alt="User Profile Image">
        </picture>
        <picture>
            <source srcset="/assets/designs/prevail-gaming/users/webp/image (13).webp" type="image/webp">
            <source srcset="/assets/designs/prevail-gaming/users/png/image (13).png" type="image/png"> 
            <img src="/assets/designs/prevail-gaming/users/jpeg/image (13).png" alt="User Profile Image">
        </picture>
        <picture>
            <source srcset="/assets/designs/prevail-gaming/users/webp/image (14).webp" type="image/webp">
            <source srcset="/assets/designs/prevail-gaming/users/png/image (14).png" type="image/png"> 
            <img src="/assets/designs/prevail-gaming/users/jpeg/image (14).png" alt="User Profile Image">
        </picture>
        <picture>
            <source srcset="/assets/designs/prevail-gaming/users/webp/image (15).webp" type="image/webp">
            <source srcset="/assets/designs/prevail-gaming/users/png/image (15).png" type="image/png"> 
            <img src="/assets/designs/prevail-gaming/users/jpeg/image (15).png" alt="User Profile Image">
        </picture>
        <picture>
            <source srcset="/assets/designs/prevail-gaming/users/webp/image (16).webp" type="image/webp">
            <source srcset="/assets/designs/prevail-gaming/users/png/image (16).png" type="image/png"> 
            <img src="/assets/designs/prevail-gaming/users/jpeg/image (16).png" alt="User Profile Image">
        </picture>
        <picture>
            <source srcset="/assets/designs/prevail-gaming/users/webp/image (17).webp" type="image/webp">
            <source srcset="/assets/designs/prevail-gaming/users/png/image (17).png" type="image/png"> 
            <img src="/assets/designs/prevail-gaming/users/jpeg/image (17).png" alt="User Profile Image">
        </picture>
        <picture>
            <source srcset="/assets/designs/prevail-gaming/users/webp/image (18).webp" type="image/webp">
            <source srcset="/assets/designs/prevail-gaming/users/png/image (18).png" type="image/png"> 
            <img src="/assets/designs/prevail-gaming/users/jpeg/image (18).png" alt="User Profile Image">
        </picture>
        <picture>
            <source srcset="/assets/designs/prevail-gaming/users/webp/image (19).webp" type="image/webp">
            <source srcset="/assets/designs/prevail-gaming/users/png/image (19).png" type="image/png"> 
            <img src="/assets/designs/prevail-gaming/users/jpeg/image (19).png" alt="User Profile Image">
        </picture>
        <picture>
            <source srcset="/assets/designs/prevail-gaming/users/webp/image (20).webp" type="image/webp">
            <source srcset="/assets/designs/prevail-gaming/users/png/image (20).png" type="image/png"> 
            <img src="/assets/designs/prevail-gaming/users/jpeg/image (20).png" alt="User Profile Image">
        </picture>
        <picture>
            <source srcset="/assets/designs/prevail-gaming/users/webp/image (21).webp" type="image/webp">
            <source srcset="/assets/designs/prevail-gaming/users/png/image (21).png" type="image/png"> 
            <img src="/assets/designs/prevail-gaming/users/jpeg/image (21).png" alt="User Profile Image">
        </picture>
        <picture>
            <source srcset="/assets/designs/prevail-gaming/users/webp/image (22).webp" type="image/webp">
            <source srcset="/assets/designs/prevail-gaming/users/png/image (22).png" type="image/png"> 
            <img src="/assets/designs/prevail-gaming/users/jpeg/image (22).png" alt="User Profile Image">
        </picture>
        <picture>
            <source srcset="/assets/designs/prevail-gaming/users/webp/image (23).webp" type="image/webp">
            <source srcset="/assets/designs/prevail-gaming/users/png/image (23).png" type="image/png"> 
            <img src="/assets/designs/prevail-gaming/users/jpeg/image (23).png" alt="User Profile Image">
        </picture>
        <picture>
            <source srcset="/assets/designs/prevail-gaming/users/webp/image (24).webp" type="image/webp">
            <source srcset="/assets/designs/prevail-gaming/users/png/image (24).png" type="image/png"> 
            <img src="/assets/designs/prevail-gaming/users/jpeg/image (24).png" alt="User Profile Image">
        </picture>
        <picture>
            <source srcset="/assets/designs/prevail-gaming/users/webp/image (25).webp" type="image/webp">
            <source srcset="/assets/designs/prevail-gaming/users/png/image (25).png" type="image/png"> 
            <img src="/assets/designs/prevail-gaming/users/jpeg/image (25).png" alt="User Profile Image">
        </picture>
        <picture>
            <source srcset="/assets/designs/prevail-gaming/users/webp/image (26).webp" type="image/webp">
            <source srcset="/assets/designs/prevail-gaming/users/png/image (26).png" type="image/png"> 
            <img src="/assets/designs/prevail-gaming/users/jpeg/image (26).png" alt="User Profile Image">
        </picture>
        <picture>
            <source srcset="/assets/designs/prevail-gaming/users/webp/image (27).webp" type="image/webp">
            <source srcset="/assets/designs/prevail-gaming/users/png/image (27).png" type="image/png"> 
            <img src="/assets/designs/prevail-gaming/users/jpeg/image (27).png" alt="User Profile Image">
        </picture>
        <picture>
            <source srcset="/assets/designs/prevail-gaming/users/webp/image (28).webp" type="image/webp">
            <source srcset="/assets/designs/prevail-gaming/users/png/image (28).png" type="image/png"> 
            <img src="/assets/designs/prevail-gaming/users/jpeg/image (28).png" alt="User Profile Image">
        </picture>
        <picture>
            <source srcset="/assets/designs/prevail-gaming/users/webp/image (29).webp" type="image/webp">
            <source srcset="/assets/designs/prevail-gaming/users/png/image (29).png" type="image/png"> 
            <img src="/assets/designs/prevail-gaming/users/jpeg/image (29).png" alt="User Profile Image">
        </picture>
        <picture>
            <source srcset="/assets/designs/prevail-gaming/users/webp/image (30).webp" type="image/webp">
            <source srcset="/assets/designs/prevail-gaming/users/png/image (30).png" type="image/png"> 
            <img src="/assets/designs/prevail-gaming/users/jpeg/image (30).png" alt="User Profile Image">
        </picture>
        <picture>
            <source srcset="/assets/designs/prevail-gaming/users/webp/image (31).webp" type="image/webp">
            <source srcset="/assets/designs/prevail-gaming/users/png/image (31).png" type="image/png"> 
            <img src="/assets/designs/prevail-gaming/users/jpeg/image (31).png" alt="User Profile Image">
        </picture>
        <picture>
            <source srcset="/assets/designs/prevail-gaming/users/webp/image (32).webp" type="image/webp">
            <source srcset="/assets/designs/prevail-gaming/users/png/image (32).png" type="image/png"> 
            <img src="/assets/designs/prevail-gaming/users/jpeg/image (32).png" alt="User Profile Image">
        </picture>
        <picture>
            <source srcset="/assets/designs/prevail-gaming/users/webp/image (33).webp" type="image/webp">
            <source srcset="/assets/designs/prevail-gaming/users/png/image (33).png" type="image/png"> 
            <img src="/assets/designs/prevail-gaming/users/jpeg/image (33).png" alt="User Profile Image">
        </picture>
        <picture>
            <source srcset="/assets/designs/prevail-gaming/users/webp/image (34).webp" type="image/webp">
            <source srcset="/assets/designs/prevail-gaming/users/png/image (34).png" type="image/png"> 
            <img src="/assets/designs/prevail-gaming/users/jpeg/image (34).png" alt="User Profile Image">
        </picture>
        <picture>
            <source srcset="/assets/designs/prevail-gaming/users/webp/image (35).webp" type="image/webp">
            <source srcset="/assets/designs/prevail-gaming/users/png/image (35).png" type="image/png"> 
            <img src="/assets/designs/prevail-gaming/users/jpeg/image (35).png" alt="User Profile Image">
        </picture>
        <picture>
            <source srcset="/assets/designs/prevail-gaming/users/webp/image (36).webp" type="image/webp">
            <source srcset="/assets/designs/prevail-gaming/users/png/image (36).png" type="image/png"> 
            <img src="/assets/designs/prevail-gaming/users/jpeg/image (36).png" alt="User Profile Image">
        </picture>
    </div>
</div>