.container-web{
    margin-top:-60px;
    background-color: white;
    position: relative;
}

.hero-button{
    background-color: white;
    display: inline-block;
    border-radius: 5px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    transition: 0.15s all ease;
}
.hero-button:hover{
    transform: scale(1.1);
}
.hero-button p{
    color: purple;
    font-family: Poppins;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0px;
    padding:10px 20px;
    font-size:16px;
}
.width-container{
    max-width: 1670px;
    margin:0 auto;
    display: block;
}
.web1{
    height:95vh;
    min-height: 500px;
    position: relative;

    background: url("/assets/background/web/purple.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 1;

}

.web1 h1{
    color: white;
    font-family: Poppins;
    font-weight: 600;
    font-size:50px;
    line-height:50px;
}
.web1 .sub-text{
    font-size:22px;
    color:white;
    margin-top:40px;
    max-width: 600px;
    line-height: 30px;
    font-weight: 200;
    margin-bottom:30px;
    font-family: Poppins;
}

.hero-text{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-left: 40px;
    width: 50%;
    left:0;
}
.hero-text-inner{
    float:right;
}
.hero-image{
    width:50%;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    overflow: hidden;
    right:0;
}
.hero-image img{
    width:60%;
    margin:0 auto;
    display: block;
}

.web2{
    padding:20px;
}

.web2-text{
    margin:0 auto;
    display: block;
    max-width: 1200px;
    padding:130px 0px;
    padding-top:180;
}

.web2-text .sub-text{
    font-size:18px;
    font-family: Poppins;
}

.web2-text .sub-text strong{
    text-transform: uppercase;
}

.break1{
    max-width: 800px;
}

.break2{
    max-width: 800px;
}

.web3{
    background-image: linear-gradient(to right top, #1f1721, #211c24, #232126, #262528, #2a2a2a);
    position: relative;
}

.logo-container{
    margin:0 auto;
    display: block;
    text-align: center;
    padding-bottom: 280px;
}

.logo-container img{
    padding:10px 40px;
    max-width:260px;
}

.web3 h2{
    color:white;
    font-family: Poppins;
    font-weight:600;
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    padding:200px 0px;
    padding-bottom: 130px;
}

.devider-top{
    position: absolute;
    top: -1px;
    width: 100%;
}

.devider-bottom{
    position: absolute;
    bottom:-1px;
    width: 100%;
}

.website-container{
    max-width: 1800px;
    margin:0 auto;
    display: block;
    text-align: center;
}

.website{
    display: inline-block;
    padding:5px;
    border: 2px solid rgba(0,0,0,0.1);
    margin:20px;
    background-color: rgb(235, 235, 235);
    border-radius: 8px;
    transition: 0.1s all ease-in;
}

.website img{
    width:100%;
    max-width: 500px;
    border-radius: 5px;
    
}
.web4 h2{
    color:rgb(39, 39, 39);
    font-family: Poppins;
    font-weight:600;
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    padding-top: 200px;
}
.web4 h3{
    color:rgb(39, 39, 39);
    font-family: Poppins;
    font-weight:400;
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
    padding-bottom: 130px;
}

.website .header{
    background-color: rgb(214, 214, 214);
    border-radius: 5px;
    margin-bottom: 5px;
}

.website .header p{
    padding:2.5px;
    margin:0px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: Poppins;
    color:rgb(53, 53, 53);
}

.web5 a{
    color: white;
    text-align: center;
    margin:0 auto;
    display: block;
    border-radius: 5px;
    max-width: 400px;
    padding:10px 10px;
    margin-top:140px;
    background-color: purple;
    font-size: 20px;
    font-family: Poppins;
}

.website:hover{
    transform: scale(1.05);
}

@media only screen and (max-width: 930px) {
    .hero-image{
        display: none;
    }
    .hero-text{
        float:unset;
        width: 100%;
        text-align: center;
        padding: 20px;
    }
    .hero-text-inner{
        float:unset;
        text-align: center;
    }
    .web1 .sub-text{
        text-align: center;
        max-width: 100%;
        display: block;
        margin-bottom: 40px;
    }
}

@media only screen and (max-width: 710px) {
    .web3 h2{
        color:white;
        font-family: Poppins;
        font-weight:600;
        text-transform: uppercase;
        text-align: center;
        font-size: 23px;
        padding:70px 0px;
        padding-bottom: 130px;
    }    

    .logo-container{
        margin:0 auto;
        display: block;
        text-align: center;
        padding-bottom: 180px;
    }
    
    .logo-container img{
        padding:10px 20px;
        max-width:200px;
    }

    /*Remove some logos from mobile so theres not a lot of scroll*/
    .logo-container img:nth-last-child(-n+5){
        display: none;
    }
}
