<app-banner bTitle="Web Development" 
            bSubTitle="Client projects, personal projects, and concepts.">
</app-banner>
<div class="container-web">

    <a class="show-sidebar close-web-nav" (click)="showWebNav()">Show Menu</a>

    <a (click)="clearWebNav()" class="close-web-nav"><div class="sidebar-background" id="sidebar-background"></div></a>
    <div id="sidebar" class="sidebar">
        <a (click)="clearWebNav()" class="close-web-nav close-sidebar"><span><p>Close menu</p></span></a>
        <h2>WEBSITES</h2>
        <p>Choose a site to view.</p>
        <div class="web-block" *ngFor="let website of getWebsitesService()">
            <h3>{{website.title}}</h3>
            <a [routerLink]="website.url" (click)="clearWebNav()">
                <div class="web-image">
                    <img [src]="website.thumbnail" alt="Website thumbnail">
                </div>
            </a>
        </div>
    </div>
    <div class="main-content">
        <router-outlet></router-outlet>
    </div>
</div>