<app-banner bTitle="Web Development" 
            bSubTitle="Client projects, personal projects, and concepts.">
</app-banner>

<div class="container-web">
    <div class="sidebar">
        <h2>WEBSITES</h2>
        <div class="web-block" *ngFor="let website of getWebsitesService()">
            <h3>{{website.title}}</h3>
            <a [routerLink]="website.url">
                <div class="web-image">
                    <img [src]="website.thumbnail" alt="Website thumbnail">
                </div>
            </a>
        </div>
    </div>
    <div class="main-content">
        <router-outlet></router-outlet>
    </div>
</div>