
.container{
  margin:0 auto;
}

.hero{
  background-color: white;
  margin-bottom: 50px;
  background: url(/assets/background/minecraft.png) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hero-container{
  position: relative;
  height:300px;
  max-width:1100px;
  margin:0 auto;
}

.content-module{
  background: rgba(0,0,0,0.9);
  background: -moz-linear-gradient(-45deg,  #000000e3 0%, #303030e8 100%);
  background: -webkit-linear-gradient(-45deg,  #000000f3 0%,#303030f6 100%);
  background: linear-gradient(135deg,  #000000d3 0%,#303030e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#303030',GradientType=1 );
  backdrop-filter:blur(10px);
  display: inline-block;
  max-width:800px;
  min-width: 270px;
  margin:0 auto;
  margin-right:20px;
  border-radius: 0px;
  margin-bottom:20px;
  color:white;
  vertical-align: top;
  border:1px solid rgba(255,255,255,0.2);
  border-radius: 5px;
  overflow: hidden;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
}

.header-circle{
  display: inline-block;
  max-width:15px;
  margin-right:10px;
}

.header span{
  position: absolute;
  right:5px;
  top:7px;
  width:100px;
  text-align: right;
}

.header{
  background-color:rgb(59, 59, 59);
  border-bottom:1px solid #4b4b4b;
  cursor: grab;
}

.inner{
  padding:30px;
  pointer-events: all;
}

h3{
  font-size:20px;
  margin:0px;
  padding:10px 15px;
  
}
.hero-text{
  position: absolute;
  bottom:0;
  left:0;
  font-family: "Raleway";
  font-size:40px;
  font-weight:500;
  background-color: #F1F2F6;
  padding-bottom:5px;
  padding-left:25px;
  padding-right:25px;
  padding-top:10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin:0px;
}


::selection {
    background: rgba(255, 255, 255, 0.99); /* WebKit/Blink Browsers */
    color:black;
  }
::-moz-selection {
    background: rgba(255, 255, 255, 0.99); /* WebKit/Blink Browsers */
    color:black;
  }
a::selection{
    color:inherit;
}
.content-module p{
    margin:0px;
}
.content-module h2{
    margin:0px;
    margin-bottom:15px;
}
.skills ul{
    display: inline-block;
    vertical-align: top;
}
a{
    color:rgb(65, 221, 18);
}

.blinking-cursor {
    font-weight: 500;
    color: white;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
  }
  
  .inner ul{
    margin:0px;
  }

  @keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: white;
    }
  }
  
  @-moz-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: white;
    }
  }
  
  @-webkit-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: white;
    }
  }
  
  @-ms-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: white;
    }
  }
  
  @-o-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: white;
    }
  }