<!-- <form action="" ngSubmit="submitForm()">
    <div class="field">
        <label for="name" class="label">Name</label>
        <input type="text"
               name="name"
               class="input"
               required 
               placeholder="First name">
        <div class="help is-error" *ngIf="nameInput.invalid && nameInput.touched">
            Your name is required.
        </div>
    </div>

    <div class="field">
        <label for="email" class="label">Email</label>
        <input type="text"
               name="email"
               class="input"
               required
               email
               placeholder="me@gmail.com">
        <div class="help is-error" *ngIf="emailInput.invalid && emailInput.touched">
            Invalid Email address.
        </div>
    </div>

    <button class="button"
            type="submit"
            [disabled]="contactForm.invalid">
        Submit
    </button>
</form> -->