.folders{
    position: relative;
    max-width:100px;
}
.folder2, .folder1{
    position: absolute;
    width:100%;

}
.folder1{
    left:0px;

}
.folder2{
    opacity:0;
    left:0px;
}
.folders:hover .folder1{
    opacity:0;
}
.folders:hover .folder2{
    opacity:1;
}