<app-banner-image 
    (click)="showLogos=!showLogos" 
    bTitle="Logo Design" 
    bSubTitle="Hand crafted logos, fresh off the artboard.">
</app-banner-image>

<!-- Logo Modal -->
<router-outlet></router-outlet>

<!-- Logos -->
<div *ngIf="showLogos" class="container logos" [@logoAnimation]="logos.length">

    <div class="logo" *ngFor="let logo of getLogosService()">

        <!-- If more Info -->
        
        <div> 
            <a [routerLink]="['logos', logo.name]" (click)="toggleModal()" href="#">
                <div class="blur">
                    <img class="thumbnail no-drag" [src]="logo.link">
                    <img class="thumbnail2 no-drag" [src]="logo.link">
                </div>
        
                <!-- Folder Icons -->
                <div *ngIf="logo.moreInfo" class="folder-container">
                    <div class="folders">
                        <span><img class="folder1 no-drag" src="/assets/icons/folder1.png" alt="Folder Icon"></span>
                        <span><img class="folder2 no-drag" src="/assets/icons/folder2.png" alt="Folder Icon"></span>
                    </div>
                </div>  
            </a>
        </div>
       
    </div>
</div>

<app-banner-image 
    (click)="showDesigns=!showDesigns" 
    bTitle="Graphics / Designs" 
    bSubTitle="Digitally designed experiences.">
</app-banner-image>

<div class="container" *ngIf="showDesigns">
    <div class="design-wrapper" *ngFor="let design of getDesignsService()">

        <h3>{{design.title}}</h3>

        <div class="design">
            <a
            [routerLink]="['/designs', design.url]" href="#">
                <div class="inner-design">
                    <img class="thumbnail-designs" [src]="design.thumbnail" alt="">
                </div>
            </a>
        </div>
        
        <!-- Folder Icons -->
        <div *ngIf="design.moreInfo" class="folder-container">
            <div class="folders">
                <span><img class="folder1 no-drag" src="/assets/icons/folder1.png" alt="Folder Icon"></span>
                <span><img class="folder2 no-drag" src="/assets/icons/folder2.png" alt="Folder Icon"></span>
            </div>
        </div>  
    </div>
    
</div>

<app-banner-image 
    (click)="showDigital=!showDigital" 
    bTitle="Digital" 
    bSubTitle="Gitch art">
</app-banner-image>