
.design{
    /*width for image 400px*/
    max-width:400px;
    width:100%;
    height:auto;
    display: inline-block;
    text-align: center;
}

.design-wrapper{
    padding:20px;
    width:100%;
    max-width:400px;
    display: inline-block;
    vertical-align: top;
}

#designs{
    text-align: center;
    margin-top: 40px;
}

.inner-design{
    overflow: hidden;
    border-radius: 10px;
    background-color: white;
    max-width:400px;
    max-height:400px;
    width:100%;
}

.thumbnail{
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s all;
}

.thumbnail:hover{

    transform: scale(1.2);
}
.inner-design img{
    height:100%;
    width:100%;
}

.design h3{
    font-size:18px;
    margin-top:10px;
}

.filter{
    background-color: white;
    border-radius: 50px;
    max-width:500px;
    padding:10px 30px;
    margin:0 auto;
    margin-top:40px;
    margin-bottom:20px;
    text-align: center;
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086);
}

.filter-container{
    padding:0px 20px;
}

.filter a{
    display: inline-block;
    margin-right:20px;
}

@media only screen and (max-width: 1645px) {
    .design-wrapper{
        max-width:350px;
    }    
}

@media only screen and (max-width: 1440px) {
    .design-wrapper{
        max-width:300px;
    }    
}

@media only screen and (max-width: 1200px) {
    .design-wrapper{
        max-width:380px;
        margin:10px;
    }    
}

@media only screen and (max-width: 810px) {
    .design-wrapper{
        max-width:300px;
    }    
}

@media only screen and (max-width: 645px) {
    .design-wrapper{
        margin:0px;
        padding:5%;
    }    
    #designs{
        margin-top:20px;
    }
}

@media only screen and (max-width: 605px) {
    .design-wrapper{
        margin:0px;
        padding:20px;
        max-width: 40vw;
        padding-bottom: 0px;
    }    
    #designs{
        margin-top:20px;
    }
}

@media only screen and (max-width: 500px) {
    .design-wrapper{
        margin:0px;
        padding:20px;
        max-width: 100%;
        padding-bottom: 0px;
    }    
    #designs{
        margin-top:50px;
    }
}