
.design{
    
    width:100%;
    height:auto;
    display: inline-block;
    width:400px;
    text-align: center;
    margin:20px;
}

#designs{
    text-align: center;
}

.inner-design{
    overflow: hidden;
    border-radius: 10px;
    background-color: white;
    width:400px;
    height:400px;
}

.thumbnail{
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s all;
}

.thumbnail:hover{

    transform: scale(1.2);
}
.inner-design img{
    height:100%;
    width:100%;
}

.design h3{
    font-size:18px;
    margin-top:10px;
}

.filter{
    background-color: white;
    border-radius: 50px;
    max-width:500px;
    padding:10px 30px;
    margin:0 auto;
    margin-top:40px;
    margin-bottom:20px;
    text-align: center;

    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086);
}
.filter a{
    display: inline-block;
    margin-right:20px;
}