#site-logo{
    width:170px!important;
    height:auto;
    padding:15px;
}
.logo-container{
    float:left;
}
.links{
    padding:0px;
    position: absolute;
    right:0;
    bottom:0;
}
.links a{ 
    display: inline-block;
    padding:10px;
    /* font-family:montserrat; */
    font-weight:400;
    vertical-align: bottom;
    padding-bottom:8px;
    color:#333;
    /* background: rgb(177,177,177);
    background: linear-gradient(0deg, rgb(248, 248, 248) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);   */
}
/* .links a:hover{
    background: rgb(177,177,177);
    background: linear-gradient(0deg, rgb(0, 162, 255) 10%, rgba(255,255,255,1) 80%);
    color:white;
} */
#global-nav{
    border-bottom: 1px solid rgba(0,0,0,0.08);
    /*-webkit-backdrop-filter: blur(15px);*/
    /*backdrop-filter: blur(15px);*/
    z-index:10;
    width:100%;
    height:auto;
    position: relative;
    margin:0 auto;
    display:block;
    background-color: white;
    height:60px;
}
.nav-container{
    width:100%;
    max-width:1200px;
    display: block;
    margin:0 auto;
    position: relative;
    height:60px;
}

#mobile-nav, #menu-open, #menu-close{
    display: none;
}

#mobile-nav{
    z-index: 11;
    position: absolute;
    bottom:30%;
    right:20px;
    cursor: pointer;
}

#mobile-background{
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: white;
    height: 100%;
    width: 100%;
    z-index:9;
    display: none;
}

/* This code make sure that desktop nav is visible once resizing back 
    to desktop from mobile nav sizing. (Reverts the JS mobile nav) */

/* Going up in size */
@media only screen and (min-width: 800px) {
    #global-nav{
        border-bottom: 1px solid rgba(0,0,0,0.08)!important;
    }
    #links{
        display: inline-block!important;
    }
    #mobile-background{
        display:none!important;
    }
}

/* Going down in size */
@media only screen and (max-width: 800px) {
    #mobile-nav, #menu-open{
        display: block;
    }
    .links{
        display: none;
        top:90px;
        right:5%;
        text-align:right;
    }
    .links a{
        display:block;
        font-family:"Montserrat";
        font-weight:500;
        font-size:30px;
    }
}