.nav ul{
    padding:0px;
    margin-bottom:0px;
    width:100%;
}
.nav ul li{ 
    display: inline-block;
    margin-right:20px;
    font-family:montserrat;
    font-weight:400;
    vertical-align: middle;
    text-align: center;
}
.nav ul li:last-child{
    margin-right:0px;
    border-radius: 5px;
    border:1px solid #333;
    padding:0px 6px;
}
.nav ul li a{
    color:#333;
}
.nav{
    text-align: right;
    padding:20px;
    border-bottom: 1px solid rgba(0,0,0,0.08);
    color:white;
    /*-webkit-backdrop-filter: blur(15px);*/
    /*backdrop-filter: blur(15px);*/
    position: fixed;
    z-index:10;
    width:100%;
    left:0;
    right:0;
    top:0;
    background-color: white;
}

.logo h1{
    text-align: center;
    color:black;
    font-weight:100px;
    margin-bottom:20px;
}
.logo{
    margin:0 auto;
}