#site-logo{
    width:170px!important;
    height:auto;
    padding:15px;
}
.logo-container{
    float:left;
}
.links{
    padding:0px;
    position: absolute;
    right:0;
    bottom:0;
}
.links a{ 
    display: inline-block;
    padding:10px;
    /* font-family:montserrat; */
    font-weight:400;
    vertical-align: bottom;
    padding-bottom:8px;
    color:#333;
    /* background: rgb(177,177,177);
    background: linear-gradient(0deg, rgb(248, 248, 248) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);   */
}
/* .links a:hover{
    background: rgb(177,177,177);
    background: linear-gradient(0deg, rgb(0, 162, 255) 10%, rgba(255,255,255,1) 80%);
    color:white;
} */
.global-nav{
    border-bottom: 1px solid rgba(0,0,0,0.08);
    /*-webkit-backdrop-filter: blur(15px);*/
    /*backdrop-filter: blur(15px);*/
    z-index:10;
    width:100%;
    height:auto;
    position: relative;
    margin:0 auto;
    overflow:hidden;
    display:block;
    background-color: white;
}
.nav-container{
    width:100%;
    max-width:1200px;
    display: block;
    margin:0 auto;
    position: relative;
    height:auto;
    overflow:hidden;
}
