<div class="colorbar"></div>
<div class="global-nav">
    <div class="nav-container">
        <!--<div class="logo" *ngIf="router.url === '/about'">
            <img src="/assets/global/logo.png" alt="Logo Brendan Weirtz">
        </div>-->
        <div class="logo-container">
            <a routerLink="/" href="/"><img id="site-logo" src="/assets/global/logo.png" alt="Logo Brendan Weirtz"></a>
        </div>
        
        <div class="links">
            <a routerLink="about">About</a>
            <a routerLink="logos">Logos</a>
            <a routerLink="design">Design</a>
            <a routerLink="web">Web Development</a>
            <a routerLink="photography">Photography</a>
            <a routerLink="games">Games</a>
            <a routerLink="contact">Contact</a>
        </div>
    </div>
</div>
