.container{
    background-color:white;
    min-width:100%;
    margin:0 auto;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,0.08);
    cursor: pointer;
}

.container h1{
    font-family: 'Heebo', sans-serif;
    font-size: 38px;
    text-align: left;
    font-weight:800;
    padding:0px;
    margin:0px;
    margin-bottom:15px;
    line-height:40px;
    text-transform: uppercase;
    letter-spacing: -1px;
}

.container p{
    text-align:left;
    font-family: 'Heebo', sans-serif;
    font-weight:600;
    padding:0px;
    margin:0px;
    font-size:20px;
    line-height: 25px;
}

.image-container{
    position: absolute;
    top:0;
    right: 10%;
    height:100%;
    transition: 0.2s all ease;
}

.container:hover .image-container{
    right: 5%;
}

.container:hover{
    background-color: #007bff;
    color:white;
    border-bottom: 1px solid rgb(255, 255, 255);

}

.inner{
    max-width: 1300px;
    margin: 0 auto;
    position: relative;
    height: 100%;
    display: block;
    padding:75px 20px;
}

.banner-image{
    height:100%;
}