<div class="colorbar"></div>
<div id="global-nav">
    <div class="nav-container">
        <!--<div class="logo" *ngIf="router.url === '/about'">
            <img src="/assets/global/logo.png" alt="Logo Brendan Weirtz">
        </div>-->
        <div class="logo-container">
            <a (click)="clearNav()" routerLink="/" href="/"><img id="site-logo" src="/assets/global/logo.png" alt="Logo Brendan Weirtz"></a>
        </div>
        
        <div id="mobile-nav">
            <a (click)="nav()">
                <span id="menu-open"><img src="/assets/ui/menu-close.svg" alt="Menu Open"></span>
                <span id="menu-close"><img src="/assets/ui/menu-open.svg" alt="Menu Close"></span>
            </a>
        </div>


        <div class="links" id="links">
            <a (click)="clearNav()" routerLink="about">About</a>
            <a (click)="clearNav()" routerLink="logos">Logos</a>
            <a (click)="clearNav()" routerLink="designs">Designs</a>
            <a (click)="clearNav()" routerLink="web">Web Development</a>
            <a (click)="clearNav()" routerLink="photography">Photography</a>
            <a (click)="clearNav()" routerLink="games">Games</a>
            <a (click)="clearNav()" routerLink="contact">Contact</a>
        </div>
    </div>
    
    <div class="loading-bar" *ngIf="isShowingRouteLoadIndicator"></div>

</div>

<div id="mobile-background"></div>
