<app-banner-two is-discontinued bTitle="Apricity Website" bSubTitle="A website I developed and designed for Apricity Media Group, a web/ad agency located in Canton, OH"></app-banner-two>
<br>

<div class="container">
    <div class="buttons-cont">
        <a href="https://apricitymediagroup.com/" target="_blank" class="btn btn-primary">View live site</a>
        <a class="btn btn-light">Company source code private</a>
    </div>
</div>

<div class="container">
    <div class="web-images">
        <img class="img1" src="assets/web/pages/apricity-media-group/images/main/img1.jpg" alt="Website image">
        <img class="img1" src="assets/web/pages/apricity-media-group/images/main/img2.jpg" alt="Website image">
        <img class="img1" src="assets/web/pages/apricity-media-group/images/main/img3.jpg" alt="Website image">
        <img class="img1" src="assets/web/pages/apricity-media-group/images/main/img4.jpg" alt="Website image">
    </div>
    <br><br>
    <h2 class="break-title"><b>2017</b> Site Revision - <i>Not Live</i></h2>
    <p class="content-text">A half baked UI update for the Apricity website that I started to work on, giving it a modern feeling.</p>
    <br><br><br>
    <div class="web-images">
        <img class="img1" src="assets/web/pages/apricity-media-group/images/rev/rev1.jpg" alt="Website image">
        <img class="img1" src="assets/web/pages/apricity-media-group/images/rev/rev2.jpg" alt="Website image">
        <img class="img1" src="assets/web/pages/apricity-media-group/images/rev/rev3.jpg" alt="Website image">
        <img class="img1" src="assets/web/pages/apricity-media-group/images/rev/rev4.jpg" alt="Website image">
        <img class="img1" src="assets/web/pages/apricity-media-group/images/re1.jpg" alt="Website image">
        <img class="img1" src="assets/web/pages/apricity-media-group/images/re2.jpg" alt="Website image">
    </div>
</div>