.container{
    padding:75px 0px;
    background-color:white;
    min-width:100%;
    margin:0 auto;
}

.container h1{
    font-family: montserrat;
    text-align: center;
    font-weight:300;
    padding:0px;
    margin:0px;
    margin-bottom:10px;
}

.container p{
    text-align:center;
    font-family:montserrat;
    font-weight:300;
    padding:0px;
    margin:0px;
}