.buttons-cont{
    width:100%;
    
    margin-bottom:20px;
    background-color: rgb(222, 228, 235);
    border-radius: 8px;
}

.btn{
    margin:10px 10px;    
}

.web-images{
    margin:0 auto;
    text-align: center;
}

.content-text{
    font-size:20px;
}

.img1{
    width:100%;
    margin-bottom:80px;
    display: inline-block;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086);
}

.img2{
    width:20vw;
    display: inline-block;
    margin:0px 40px;
    margin-bottom:80px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086);
}

.break-title{
    font-size:35px;
}