
.container{
  color:#626888;
  font:400 18px/1.44 Open Sans,sans-serif;
  margin-top: 40px;
  padding-bottom: 50px;
}

.hero-header{
  padding:80px 0px;
}

h1{
  font-family: Poppins;
  font-weight: 600;
  font-size: 30px;
  line-height: 38px;
}

.about-text{
  max-width:520px;
  font-family: Poppins;
  font-size:19px;
  padding-bottom:7px;
  display: block;
  position: relative;
}
.about-buttons a{
  background-color: white;
  margin-right: 10px;
  padding:7px 15px;
  border-radius: 4px;
  color:#141E30;
  font-weight: 600;
  font-family: Poppins;
}
.side-button{
  background-color: rgba(0,0,0,0)!important;
  color: white !important;;
  border:1px solid white;
  font-weight: 500!important;
}

.cm-2 .about-buttons a{
  background-color: #3e6eb0;
  color: white;
}

.cm-2 .inner{
  padding-top:10px;
}

.cfs-image{
  width: 100%;
  border-radius: 5px;
  outline:2px solid #202124;
  outline-offset: -2px;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.027),
  0 12.5px 10px rgba(0, 0, 0, 0.103);
  margin-bottom: 65px;
}

.social ul{
  list-style-type: none;
  padding: 0px;
}

.header-bar{
  background-color:rgb(55, 55, 55);
  width: 100%;
  font-family: Consolas;
  font-size: 13px;
  color:rgb(106, 106, 106);
  float: left;
}
.header-bar p{
  padding-top: 3px;
  padding-left: 30px;
}

.header-bar-icon{
  width:20px;
  margin-left: 5px;
  margin-top:5px;
  margin-bottom: 5px;
  color:rgb(84, 170, 237);
  float: left;
}

.social li{
  margin-bottom:1px;
}

li svg{
  margin-right:10px!important;
}

.social a{
  color:white;
}

.content-module{
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: inline-block;
  max-width:800px;
  min-width: 270px;
  margin:0 auto;
  margin-right:20px;
  border-radius: 0px;
  margin-bottom:40px;
  color:white;
  vertical-align: top;
  border-radius: 5px;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.20);
  font-family: Poppins;
  overflow: hidden;
  transition: all 0.1s ease-in-out;
}



.cm-2{


  color:#1d1d1d;
  background: #fff;
  border: 2px solid rgba(0, 0, 0, 0);
  outline: 1px solid rgb(216, 229, 233);
  outline-offset: -1px;
}

.title-name{
  background: rgb(77, 77, 77);  /* Chrome 10-25, Safari 5.1-6 */
  box-shadow: none;
  width: 100%;
}
.title-name svg{
  width: 107%;
  font-family: Poppins;
  font-weight: 800;
  padding-bottom: 50px;
  fill:url(#MyGradient);
}


.social{
  /* position: -webkit-sticky;
  position: sticky; */
  top: 0px;
  float: right;
  background-image: linear-gradient(
    180deg,#363636 0,#1d1d1d)!important;
}

.console{
  background-color: black!important;
  background: black!important;
}

.cm-main{
  width:100%;
}

.cm-main h1{
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 20px;
}

.header-circle{
  display: inline-block;
  max-width:15px;
  margin-right:10px;
}

.header span{
  position: absolute;
  right: 5px;
  top: 12px;
  bottom:0;
  width:100px;
  text-align: right;
}

.header{
  background-color:rgba(255, 255, 255, 0);
  color:rgb(232, 232, 240);
  backdrop-filter: blur(0px);
}

.inner{
  padding:40px;
  pointer-events: all;
}

h3{
  font-size:15px;
  margin:0px;
  padding:4px 20px;
  font-weight:600;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  border-top-left-radius: 3px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 30px;
  margin:10px;
  color:hsl(212, 36%, 18%);
  background-color: white;
}

.cm-2 h3{
  color:white;
  background: #009bff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #0a83e6, #19abff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #0a83e6, #19abff);
}

.content-module p{
    margin:0px;
}
.content-module h2{
    margin:0px;
    margin-bottom:15px;
}
.skills ul{
    display: inline-block;
    vertical-align: top;
}
a{
    color:#007bff;
}

#three-main{
  width: 300px;
  height: 300px;
  position: relative;
  top:0;
  left:0;
  padding: 20px;
  padding-top:40px;
  display: inline-block;
}
#three-text{
display: inline-block;
vertical-align: top;
padding: 20px;
color:rgb(242, 242, 242);
font-size: 13px;
font-family: Consolas;
}
.th-1{
  color:yellow;
}
.th-2{
  animation: blinking 1s steps(2, start) infinite;
}
.th-list-div{
  color: rgb(181, 181, 181);
}

.th-lists-item{
  max-width: 160px;
  display: inline-block;
  vertical-align: top;
  padding-right:30px;
}

#three-text p:nth-child(2){
  color:white;
  margin-top:10px;
  margin-left:30px;
  font-size:12px;
}
.cm-three{
  position: relative;
  background: rgb(36, 36, 36);
  /* -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px); */
}


.about-buttons a:nth-child(1){
  background-color: red!important;
}

@media only screen and (max-width: 1199px) {
  .social{
    width:100%;
    float:none; 
  }
}
@media only screen and (max-width: 767px) {
  #three-main{
    margin:0 auto;
    display: block;
    margin-bottom: 30px;
  }
}

@keyframes blinking {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blinking {
  to {
    visibility: hidden;
  }
}


