@keyframes typing {
  from { width: 0; opacity: 0; }
  to { width: 100%; opacity: 1; }
}

.container{
  /* width:100%;
  background-image: url("/assets/background/dot-grid.png"); */

  color:#626888;
  font:400 18px/1.44 Open Sans,sans-serif;
}

.hero-header{
  padding:80px 0px;
}
.hero-text{
  bottom:0;
  left:0;
  font-family: "Roboto";
  font-weight:800;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin:0px;

  font-size: 6vw;
  line-height: 6vw;
  text-transform: uppercase;
  color: rgb(61, 62, 66);
  filter: drop-shadow(4px 4px 5px rgba(0,0,0,.2));
  overflow: hidden;

 opacity: 0;
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
}

.ht1{
  animation: 
  typing 0.5s 0.03s  ease-out;
  animation-fill-mode: forwards;
}
.ht2{
  animation: 
  typing 0.5s ease-out;
  animation-fill-mode: forwards;
}

.social hr {
  border-top:1px solid rgba(255,255,255,0.3);
}

.content-module{
  background: rgba(0,0,0,0.9);
  background: -moz-linear-gradient(-45deg,  #000000e3 0%, #303030e8 100%);
  background: -webkit-linear-gradient(-45deg,  #000000f3 0%,#303030f6 100%);
  background: linear-gradient(135deg,  #000000d3 0%,#303030e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#303030',GradientType=1 );
  backdrop-filter:blur(10px);
  display: inline-block;
  max-width:800px;
  min-width: 270px;
  margin:0 auto;
  margin-right:20px;
  border-radius: 0px;
  margin-bottom:20px;
  color:white;
  vertical-align: top;
  border:1px solid rgba(255,255,255,0.2);
  border-radius: 5px;
  overflow: hidden;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
}

.header-circle{
  display: inline-block;
  max-width:15px;
  margin-right:10px;
}

.header span{
  position: absolute;
  right: 5px;
  top: 12px;
  bottom:0;
  width:100px;
  text-align: right;
}

.header{
  background-color:rgb(59, 59, 59);
  border-bottom:1px solid #4b4b4b;
  cursor: grab;
  color:rgb(153, 166, 179);
  font-size:13px;
  font-weight:200!important;
  font-family:"Roboto"!important;
}

.inner{
  padding:30px;
  pointer-events: all;
}

h3{
  font-size:20px;
  margin:0px;
  padding:10px 15px;
  
}


.content-module p{
    margin:0px;
}
.content-module h2{
    margin:0px;
    margin-bottom:15px;
}
.skills ul{
    display: inline-block;
    vertical-align: top;
}
a{
    color:rgb(65, 221, 18);
}

.blinking-cursor {
    font-weight: 500;
    color: white;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
  }
  
  .inner ul{
    margin:0px;
  }

  @keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: white;
    }
  }
  
  @-moz-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: white;
    }
  }
  
  @-webkit-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: white;
    }
  }
  
  @-ms-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: white;
    }
  }
  
  @-o-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: white;
    }
  }

  @media only screen and (min-width: 2160px) {
    .hero-text{
        font-size: 125px;
        line-height:130px;
    }
  }
  @media only screen and (max-width: 2160px) {
    .hero-text{
        font-size: 125px;
        line-height:130px;
    }
  }
  
  @media only screen and (max-width: 1500px) {
    .hero-text{
        font-size: 125px;
        line-height:130px;
    }
  }
  
  @media only screen and (max-width: 1199px) {
    .hero-text{
        font-size: 100px;
        line-height:110px;
    }
    .content-module{
      width:100%;
      max-width: 100%;
      margin:0px;
      margin-bottom:40px;
    }
  }
  @media only screen and (max-width: 991px) {
    .hero-text{
        font-size: 80px;
        line-height:90px;
    }
  }
  @media only screen and (max-width: 767px) {
    .hero-text{
        font-size: 50px;
        line-height:60px;
    }
    .hero-header{
      padding:40px 0px;
    }
  }
  @media only screen and (max-width: 650px) {
    .hero-text{
        /* font-size: 40px; */
        font-size:2.3em;
        line-height:45px;
    }
    .hero-header{
      padding:40px 0px;
    }
  }
  @media only screen and (max-width: 400px) {
    .hero-text{
        font-size: 32px;
        line-height:42px;
    }
    .hero-header{
      padding:40px 0px;
    }
  }