<!-- <div class="title-name">
    <div id="birds"></div>
    <div class="">
        <svg viewBox="0 0 168 18">
            <defs>
                <linearGradient id="MyGradient">
                    <stop offset="5%"  stop-color="green"/>
                    <stop offset="95%" stop-color="gold"/>
                </linearGradient>
            </defs>
          </svg>
    </div>
</div> -->

<div class="container">


    

    <div class="content-module cm-main draggable">

        <div class="about-buttons">
            <div class="name-contain">
                <img class="profilepic" src="/assets/about/profilepic.jpeg" alt="">
                <h1>Brendan Weirtz</h1>
            </div>
            <div class="content-about">
                <p class="about-text">I have worked with many clients within and outside of ad/web agencies. Taking on several roles of leadership and taking lead on a handful of projects. Take a look at some of my work, if you like it, let's chat.</p>
                
                <a routerLink="/designs">View Designs</a>
                <a class="side-button" routerLink="/contact">Contact</a>
            </div>
        </div>
    </div>

<div class="arrow">
    <i class="fa fa-arrow-down"></i>
</div>
    


    <div class="content-module cm-2 draggable">
        <h3>Latest Project</h3>

        <div class="inner about-buttons">
            <br>
            <h1>Concord Forum System</h1>
            <br>
            <img class="no-drag cfs-image" src="/assets/about/wb2.png" alt="concord forum system website">
            <p class="about-text">This is the current project that I'm working on, It is a PHP forum system written from the ground up.</p>
            <a target="_blank" href="https://concord.weirtz.com/">View Project Website</a>
        </div>
    </div>

    <div class="content-module cm-three">
        <div class="header-bar">
            <i class="fas fa-folder header-bar-icon"></i>
            <p>File  Edit  View  Run  Terminal  Help</p>
        </div>
        <div id="three-main"></div>
        <div id="three-text">
            <p>C:\users\weirtz\skills><span class="th-1"> ls</span></p>
            <p>Directory: C:\users\weirtz\skills</p>
            <br>
            <div class="th-lists-item">
                <p>NAME<br>----</p>
                <span class="th-list-div">.Languages</span><br>
                <p>HTML/CSS</p>
                <p>JS</p> 
                <p>Java</p>
                <p>PHP</p> 
                <p>SQL</p>
                <br>
                <span class="th-list-div">.Frameworks</span><br>
                <p>Angular</p>
                <br>
                <span class="th-list-div">.Tools</span><br>
                <p>Adobe Photoshop</p>
                <p>Adobe Illustrator</p>
                <p>Adobe Lightroom</p>
                <p>Adobe Premiere Pro</p>
                <p>Blender</p>
                <p>Linux</p>
                <p>Godot Game Engine</p>
                <p>VS Code</p>
            </div>

            <div class="th-lists-item">
                <p>NAME<br>----</p>
                <span class="th-list-div">.E_Commerce</span><br>
                <p>Squarespace</p>
                <p>Shopify</p>
                <br>
                <span class="th-list-div">.Services</span><br>
                <p>AWS</p>
                <p>Google Cloud</p>
                <p>Apple Developer</p>
                <br>
                <span class="th-list-div">.Other</span><br>
                <p>MYSQL</p>
                <p>NODE.JS</p>
                <p>Git</p>
            </div>
            <br><br>
            <p>C:\users\weirtz\skills><span class="th-2">_</span></p>
        </div>
    </div>

</div>