<div class="container">

    <br>
    <br>
    <div class="content-module cm-main console draggable">
        ss
    </div>

    <div class="content-module cm-main draggable">

        <div class="inner no-select">
            <h1>Graphic Designer, Programmer, and Web Developer. Photographer.</h1>
            <p class="about-text">I have worked with many clients within and outside of ad/web agencies. Taking on several roles of leadership and taking lead on a handful of projects. Feel free to look at some of my work here on my site, if you like it, <a routerLink="/contact">let’s chat</a>
            </p>
        </div>
    </div>

    <div class="content-module social draggable">

        <div class="header no-select">
            <h3>Connections</h3>
        </div>

        <div class="inner no-select">
            <ul>
                <li><a target="_blank" href="https://github.com/dasreyh"><i class="fab fa-github"></i>Github</a></li>
                <li><a target="_blank" href="https://www.linkedin.com/in/weirtz/"><i class="fab fa-linkedin"></i>LinkedIn</a></li>
                <br>
                <li><a target="_blank" href="https://www.youtube.com/c/brendanweirtz"><i class="fab fa-youtube"></i>YouTube</a></li>
                <li><a target="_blank" href="https://www.facebook.com/weirtz"><i class="fab fa-facebook"></i>Facebook</a></li>
                <li><a target="_blank" href="https://www.instagram.com/bweirtz/"><i class="fab fa-instagram"></i>Instagram</a></li>
                <br>
                <li><a target="_blank" href="https://discord.com/channels/82986773877100544"><i class="fab fa-discord"></i>Discord</a></li>
                <li><a target="_blank" href="https://steamcommunity.com/id/daddydas"><i class="fab fa-steam"></i>Steam</a></li>
            </ul>
        </div>
        
    </div>
    


    <div class="content-module cm-main skills draggable">
        <div class="header no-select">
            <h3>Some of my skills</h3>
        </div>
        
        <div class="inner no-select">
            <ul>
                <h3>Languages</h3>
                <li>HTML</li>
                <li>CSS</li>
                <li>JS</li>
                <li>PHP</li>
                <li>JAVA</li>
                <li>SQL</li>
            </ul>
            <ul>
                <h3>Frameworks</h3>
                <li>ANGULAR</li>
            </ul>
            <ul>
                <h3>Tools</h3>
                <li>Adobe Photoshop</li>
                <li>Adobe Illustrator</li>
                <li>Adobe Lightroom</li>
                <li>Adobe Premiere Pro</li>
                <li>Adobe After Effects</li>
                <li>Blender</li>
                <li>Linux</li>
                <li>Godot Game Engine</li>
                <li>VS Code</li>
            </ul>
            <ul>
                <h3>Other</h3>
                <li>MYSQL</li>
                <li>NODE.JS</li>
                <li>Google Cloud Services</li>
                <li>Amazon Web Services</li>
                <li>Git</li>
                <li>Apple Developer Program</li>       
            </ul>
            <ul>
                <h3>E-Commerce</h3>
                <li>Squarespace</li>
                <li>Shopify</li>
            </ul>
        </div>
    
    </div> 

</div>