



<div class="container">
    
    <div class="hero-header">
        <h1 class="hero-text ht1 no-select">Hello, I’m</h1>
        <h1 class="hero-text  ht2 no-select">Brendan Weirtz</h1>
    </div>

    <div class="content-module draggable">
        <div class="header no-select">
            <h3>About me</h3>
            <span><img class="header-circle" src="/assets/ui/circle.svg" alt=""><img class="header-circle" src="/assets/ui/circle.svg" alt=""><img class="header-circle" src="/assets/ui/circle.svg" alt=""></span>
        </div>

        <div class="inner no-select">
            <h2>Graphic Designer, Programmer, and Web Developer. Aspiring Pro-Photographer.</h2>
            <p>I have worked with many clients within and outside of ad/web agencies. Taking on several roles of leadership and taking lead on a handful of projects. Feel free to look at some of my work here on my site, if you like it, <a routerLink="/contact">let’s chat</a>
                <span class="blinking-cursor"><b> |</b></span>
            </p>
        </div>
    </div>
    



    <div class="content-module social draggable">

        <div class="header no-select">
            <h3>Connections</h3>
            <span><img class="header-circle" src="/assets/ui/circle.svg" alt=""><img class="header-circle" src="/assets/ui/circle.svg" alt=""><img class="header-circle" src="/assets/ui/circle.svg" alt=""></span>
        </div>

        <div class="inner no-select">
            <ul>
                <li><i class="fa-github"></i><a target="_blank" href="https://github.com/dasreyh">Github</a></li>
                <li><a target="_blank" href="https://www.youtube.com/channel/UCy62UL29XW7E6CMGAfjYnfw/featured">YouTube</a></li>
                <li><a target="_blank" href="https://www.facebook.com/weirtz">Facebook</a></li>
                <li><a target="_blank" href="https://www.instagram.com/bweirtz/">Instagram</a></li>
            </ul>
        </div>
        
    </div>
    


    <div class="content-module skills draggable">
        <div class="header no-select">
            <h3>Some of my skills</h3>
            <span><img class="header-circle" src="/assets/ui/circle.svg" alt=""><img class="header-circle" src="/assets/ui/circle.svg" alt=""><img class="header-circle" src="/assets/ui/circle.svg" alt=""></span>
        </div>
        
        <div class="inner no-select">
            <ul>
                <h3>Languages</h3>
                <li>HTML</li>
                <li>CSS</li>
                <li>JS</li>
                <li>PHP</li>
                <li>JAVA</li>
                <li>SQL</li>
            </ul>
            <ul>
                <h3>Frameworks</h3>
                <li>ANGULAR</li>
            </ul>
            <ul>
                <h3>Tools</h3>
                <li>Adobe Photoshop</li>
                <li>Adobe Illustrator</li>
                <li>Adobe Lightroom</li>
                <li>Adobe Premiere Pro</li>
                <li>Adobe After Effects</li>
                <li>Blender</li>
                <li>Linux</li>
                <li>Godot Game Engine</li>
                <li>VS Code</li>
            </ul>
            <ul>
                <h3>Other</h3>
                <li>MYSQL</li>
                <li>NODE.JS</li>
                <li>Google Cloud Services</li>
                <li>Amazon Web Services</li>
                <li>Git</li>
                <li>Apple Developer Program</li>       
            </ul>
            <ul>
                <h3>E-Commerce</h3>
                <li>Squarespace</li>
                <li>Shopify</li>
            </ul>
        </div>
    
    </div> 

</div>