.container{
    border-radius: 6px;
    overflow:hidden;
    padding:0px;

    max-width:450px;
    height:240px;
}
.container img{
    width:100%;
    height:auto;
}
.master{
    height:auto;
    width: auto;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    margin-right:10px;
    margin-left:10px;
}