<div class="container">
    <div class="icons">
        <div class="icon-wrapper"> 
            <img src="/assets/designs/design-decals/icons/icon(1).png" alt="Icon" class="icon">
        </div>
        <div class="icon-wrapper"> 
            <img src="/assets/designs/design-decals/icons/icon(2).png" alt="Icon" class="icon">
        </div>
        <div class="icon-wrapper"> 
            <img src="/assets/designs/design-decals/icons/icon(3).png" alt="Icon" class="icon">
        </div>
        <div class="icon-wrapper"> 
            <img src="/assets/designs/design-decals/icons/icon(4).png" alt="Icon" class="icon">
        </div>
        <div class="icon-wrapper"> 
            <img src="/assets/designs/design-decals/icons/icon(5).png" alt="Icon" class="icon">
        </div>
        <div class="icon-wrapper"> 
            <img src="/assets/designs/design-decals/icons/icon(6).png" alt="Icon" class="icon">
        </div>
        <div class="icon-wrapper"> 
            <img src="/assets/designs/design-decals/icons/icon(7).png" alt="Icon" class="icon">
        </div>
        <div class="icon-wrapper"> 
            <img src="/assets/designs/design-decals/icons/icon(8).png" alt="Icon" class="icon">
        </div>
        <div class="icon-wrapper"> 
            <img src="/assets/designs/design-decals/icons/icon(9).png" alt="Icon" class="icon">
        </div>
        <div class="icon-wrapper">
            <img src="/assets/designs/design-decals/icons/icon(10).png" alt="Icon" class="icon">
        </div>
        <div class="icon-wrapper"> 
            <img src="/assets/designs/design-decals/icons/icon(11).png" alt="Icon" class="icon">
        </div>
        <div class="icon-wrapper"> 
            <img src="/assets/designs/design-decals/icons/icon(12).png" alt="Icon" class="icon">
        </div>
        <div class="icon-wrapper"> 
            <img src="/assets/designs/design-decals/icons/icon(13).png" alt="Icon" class="icon">
        </div>
        <div class="icon-wrapper"> 
            <img src="/assets/designs/design-decals/icons/icon(14).png" alt="Icon" class="icon">
        </div>
        <div class="icon-wrapper"> 
            <img src="/assets/designs/design-decals/icons/icon(15).png" alt="Icon" class="icon">
        </div>
        <div class="icon-wrapper"> 
            <img src="/assets/designs/design-decals/icons/icon(16).png" alt="Icon" class="icon">
        </div>
        <div class="icon-wrapper"> 
            <img src="/assets/designs/design-decals/icons/icon(17).png" alt="Icon" class="icon">
        </div>
        <div class="icon-wrapper"> 
            <img src="/assets/designs/design-decals/icons/icon(18).png" alt="Icon" class="icon">
        </div>
        <div class="icon-wrapper"> 
            <img src="/assets/designs/design-decals/icons/icon(19).png" alt="Icon" class="icon">
        </div>
        <div class="icon-wrapper"> 
            <img src="/assets/designs/design-decals/icons/icon(20).png" alt="Icon" class="icon">
        </div>
        <div class="icon-wrapper"> 
            <img src="/assets/designs/design-decals/icons/icon(21).png" alt="Icon" class="icon">
        </div>
        <div class="icon-wrapper"> 
            <img src="/assets/designs/design-decals/icons/icon(22).png" alt="Icon" class="icon">
        </div>
        <div class="icon-wrapper"> 
            <img src="/assets/designs/design-decals/icons/icon(23).png" alt="Icon" class="icon">
        </div>
        <div class="icon-wrapper"> 
            <img src="/assets/designs/design-decals/icons/icon(24).png" alt="Icon" class="icon">
        </div>
        <div class="icon-wrapper dark"> 
            <img src="/assets/designs/design-decals/icons/icon(25).png" alt="Icon" class="icon">
        </div>
        <div class="icon-wrapper dark"> 
            <img src="/assets/designs/design-decals/icons/icon(26).png" alt="Icon" class="icon">
        </div>
        <div class="icon-wrapper"> 
            <img src="/assets/designs/design-decals/icons/icon(27).png" alt="Icon" class="icon">
        </div>
        <div class="icon-wrapper"> 
            <img src="/assets/designs/design-decals/icons/icon(28).png" alt="Icon" class="icon">
        </div>
        <div class="icon-wrapper"> 
            <img src="/assets/designs/design-decals/icons/icon(29).png" alt="Icon" class="icon">
        </div>
        <div class="icon-wrapper"> 
            <img src="/assets/designs/design-decals/icons/icon(30).png" alt="Icon" class="icon">
        </div>
        <div class="icon-wrapper"> 
            <img src="/assets/designs/design-decals/icons/icon(31).png" alt="Icon" class="icon">
        </div>
        <div class="icon-wrapper"> 
            <img src="/assets/designs/design-decals/icons/icon(32).png" alt="Icon" class="icon">
        </div>
        <div class="icon-wrapper"> 
            <img src="/assets/designs/design-decals/icons/icon(33).png" alt="Icon" class="icon">
        </div>
        <div class="icon-wrapper"> 
            <img src="/assets/designs/design-decals/icons/icon(34).png" alt="Icon" class="icon">
        </div>
        <div class="icon-wrapper"> 
            <img src="/assets/designs/design-decals/icons/icon(35).png" alt="Icon" class="icon">
        </div>
        <div class="icon-wrapper"> 
            <img src="/assets/designs/design-decals/icons/icon(36).png" alt="Icon" class="icon">
        </div>
        <div class="icon-wrapper"> 
            <img src="/assets/designs/design-decals/icons/icon(37).png" alt="Icon" class="icon">
        </div>
        <div class="icon-wrapper dark"> 
            <img src="/assets/designs/design-decals/icons/icon(38).png" alt="Icon" class="icon">
        </div>
        <div class="icon-wrapper"> 
            <img src="/assets/designs/design-decals/icons/icon(39).png" alt="Icon" class="icon">
        </div>
        <div class="icon-wrapper"> 
            <img src="/assets/designs/design-decals/icons/icon(40).png" alt="Icon" class="icon">
        </div>
        <div class="icon-wrapper"> 
            <img src="/assets/designs/design-decals/icons/icon(41).png" alt="Icon" class="icon">
        </div>
        <div class="icon-wrapper"> 
            <img src="/assets/designs/design-decals/icons/icon(42).png" alt="Icon" class="icon">
        </div>
        <div class="icon-wrapper"> 
            <img src="/assets/designs/design-decals/icons/icon(43).png" alt="Icon" class="icon">
        </div>
        <div class="icon-wrapper"> 
            <img src="/assets/designs/design-decals/icons/icon(44).png" alt="Icon" class="icon">
        </div>
        <div class="icon-wrapper"> 
            <img src="/assets/designs/design-decals/icons/icon(45).png" alt="Icon" class="icon">
        </div>
        <div class="icon-wrapper"> 
            <img src="/assets/designs/design-decals/icons/icon(46).png" alt="Icon" class="icon">
        </div>
        <div class="icon-wrapper"> 
            <img src="/assets/designs/design-decals/icons/icon(47).png" alt="Icon" class="icon">
        </div>
        <div class="icon-wrapper"> 
            <img src="/assets/designs/design-decals/icons/icon(48).png" alt="Icon" class="icon">
        </div>
        <div class="icon-wrapper"> 
            <img src="/assets/designs/design-decals/icons/icon(49).png" alt="Icon" class="icon">
        </div>
        <div class="icon-wrapper"> 
            <img src="/assets/designs/design-decals/icons/icon(50).png" alt="Icon" class="icon">
        </div>
        <div class="icon-wrapper"> 
            <img src="/assets/designs/design-decals/icons/icon(51).png" alt="Icon" class="icon">
        </div>
        <div class="icon-wrapper"> 
            <img src="/assets/designs/design-decals/icons/icon(52).png" alt="Icon" class="icon">
        </div>
        <div class="icon-wrapper dark"> 
            <img src="/assets/designs/design-decals/icons/icon(53).png" alt="Icon" class="icon">
        </div>
        <div class="icon-wrapper"> 
            <img src="/assets/designs/design-decals/icons/icon(54).png" alt="Icon" class="icon">
        </div>
        <div class="icon-wrapper"> 
            <img src="/assets/designs/design-decals/icons/icon(55).png" alt="Icon" class="icon">
        </div>
        <div class="icon-wrapper"> 
            <img src="/assets/designs/design-decals/icons/icon(56).png" alt="Icon" class="icon">
        </div>
        <div class="icon-wrapper"> 
            <img src="/assets/designs/design-decals/icons/icon(57).png" alt="Icon" class="icon">
        </div>
        <div class="icon-wrapper"> 
            <img src="/assets/designs/design-decals/icons/icon(58).png" alt="Icon" class="icon">
        </div>
        <div class="icon-wrapper"> 
            <img src="/assets/designs/design-decals/icons/icon(59).png" alt="Icon" class="icon">
        </div>
        <div class="icon-wrapper"> 
            <img src="/assets/designs/design-decals/icons/icon(60).png" alt="Icon" class="icon">
        </div>
        <div class="icon-wrapper"> 
            <img src="/assets/designs/design-decals/icons/icon(61).png" alt="Icon" class="icon">
        </div>
        <div class="icon-wrapper"> 
            <img src="/assets/designs/design-decals/icons/icon(62).png" alt="Icon" class="icon">
        </div>
        <div class="icon-wrapper"> 
            <img src="/assets/designs/design-decals/icons/icon(63).png" alt="Icon" class="icon">
        </div>
        <div class="icon-wrapper"> 
            <img src="/assets/designs/design-decals/icons/icon(64).png" alt="Icon" class="icon">
        </div>
        <div class="icon-wrapper"> 
            <img src="/assets/designs/design-decals/icons/icon(65).png" alt="Icon" class="icon">
        </div>
        <div class="icon-wrapper"> 
            <img src="/assets/designs/design-decals/icons/icon(66).png" alt="Icon" class="icon">
        </div>
        <div class="icon-wrapper"> 
            <img src="/assets/designs/design-decals/icons/icon(67).png" alt="Icon" class="icon">
        </div>
    </div>
</div>