.nav-spacer{
    height:60px;
    background-color: white;
}

/* #page-container {
    position: relative;
    min-height: 100vh;
  } */

  .container{
    margin: 0 auto;
    max-width:  100%;
    padding-left: 0px;
    padding-right: 0px;
  }
