.close-lightbox{
    position: absolute;
    right:20px;
    top:20px;
    text-decoration: none;
    z-index:20;
}

.background{
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background-color: rgba(172, 172, 172, 0.75);
    backdrop-filter: blur(8px);
    z-index:20;
}

.panel{
    background-color: whitesmoke;
    height:100%;
    width:100%;
    max-width:1400px;
    margin:0 auto;
    overflow-y:scroll;
    position: relative;
}

.hero{
    width:100%;
    background-color:white;
    overflow: hidden;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.close-text{
    margin-top:10px;
    color:#333;
    font-size: 13px;
    
}

.blur{
    width:100%;
    height:auto;
    position: relative;
    margin: 0 auto;
    max-width:500px;
}

.thumbnail2{
    position: absolute;
    max-width:150%;
    left:-60px;
    top:-100px;
    filter: blur(30px);
    z-index: 1;
    opacity:0.25;
}

.thumbnail{
    display:block;
    max-height:200px;
    padding:20px;
    z-index:4;
    position: relative;
    margin: 0 auto;
}

.scroll-container{
    height:90%;
    width:100%;
    top:5%;
    max-width:1400px;
    margin:0 auto;
    overflow-y:hidden;
    position: relative;
    border-radius: 8px;
    pointer-events: all;
}

.lightbox-container{
        position: fixed;
        top:0;
        left:0;
        bottom:0;
        right:0;
        background-color: rgba(0,0,0,0);
        z-index:21;
        pointer-events: none;
}

.panel-center{
    margin:0 auto;
    max-width:90%;
    margin-top:50px;
}

h1{
    font-family:"Montserrat";
    font-weight:300;
    font-size:42px;
}

h3{
    font-family: "Roboto";
    font-weight: 600;
    font-size:15px;
    text-transform: uppercase;
}

.subtitle{
    margin-bottom:50px;
}

@media only screen and (max-width: 1410px) {
    .scroll-container{
        border-radius: 0px;
    }
}

@media only screen and (max-height: 800px) {
    .scroll-container{
        height:100%;
        top:0%;
        border-radius: 0px;
    }
}

