

<div class="background">
    <div class="scroll-container">
        <div class="panel">
            <a class="close-lightbox" routerLink="/logos" href="/logos"><span class="close-text">CLOSE WINDOW </span> <img src="/assets/ui/md-x-black.svg"></a>
            
            
    
            <div class="hero">
    
    
                <div class="blur"><img class="thumbnail" [src]="logo.link">
                <img class="thumbnail2" [src]="logo.link"></div>
    
            </div>
    
            <h1>{{logo.title}}</h1>
            <h3>{{logo.subtitle}}</h3>
    
            <p>{{logo.copy}}</p>
        </div>
    </div>
</div>