<a class="close-lightbox" (click)="toggleModal()" routerLink=".." href="/logos"><!-- <span class="close-text">CLOSE WINDOW </span> --><img src="/assets/ui/md-x-white.svg"></a>
<a routerLink=".." (click)="toggleModal()">
    <div class="background">
        <picture>
            <source [srcset]="image.webpHigh" type="image/webp">
            <source [srcset]="image.jpgHigh" type="image/jpeg">
            <img class="lightbox-main-image" [src]="image.jpgHigh" alt="Photograph">
        </picture>
    </div>
</a>
