.breadcrumb{
    background-color: white;
    width: 50%;
    min-width: 500px;
    border-radius: 50px;
    margin: 0 auto;
    padding:10px 20px;
    margin-top:20px;
    margin-bottom:20px;

    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086);
}

.breadcrumb p{
    display: inline-block;
    margin: 0px;
}