<div id="hero">
    <img class="hero-logo no-drag" src="/assets/designs/apricity/logo.png" alt="">
    <!-- Background images -->
    <img class="hero1-asset moon  no-drag" alt="moon" src="/assets/designs/apricity/hero/moon.png">
    <img class="hero1-asset star1 no-drag" alt="star1" src="/assets/designs/apricity/hero/star1.png">
    <img class="hero1-asset star2 no-drag" alt="star2" src="/assets/designs/apricity/hero/star2.png">
    <img class="hero1-asset stars no-drag" alt="stars" src="/assets/designs/apricity/hero/stars.png">
    <img class="hero1-asset sun-beam no-drag" alt="sun-beams" src="/assets/designs/apricity/hero/sun-beam.png">
    <img class="hero1-asset sun no-drag" alt="sun" src="/assets/designs/apricity/hero/sun.png">
    <img class="hero1-asset trees no-drag" alt="trees" src="/assets/designs/apricity/hero/trees.png">
    <!-- MOBILE -->
    <img class="hero1-asset trees-mobile no-drag" src="/assets/designs/apricity/hero/trees-mobile.png">
    <img class="hero1-asset sun-mobile no-drag" src="/assets/designs/apricity/hero/sun-mobile.png">
    <img class="hero1-asset sun-beam-mobile no-drag" src="/assets/designs/apricity/hero/sun-beam-mobile.png">
</div>

<div class="background">

    <br><br><br><br>

    <div class="container">
        <div class="services">
            <img class="service-icon no-drag" src="/assets/designs/apricity/services/icon1.jpg" alt="email icon">
            <img class="service-icon no-drag" src="/assets/designs/apricity/services/icon2.jpg" alt="web dev icon">
            <img class="service-icon no-drag" src="/assets/designs/apricity/services/icon3.jpg" alt="social icons">
            <img class="service-icon no-drag" src="/assets/designs/apricity/services/icon4.jpg" alt="metrics icon">
            <img class="service-icon no-drag" src="/assets/designs/apricity/services/icon5.jpg" alt="ads icon">
            <img class="service-icon no-drag" src="/assets/designs/apricity/services/icon6.jpg" alt="design icons">
            <img class="service-icon no-drag" src="/assets/designs/apricity/services/icon7.jpg" alt="creative icon">
            <img class="service-icon no-drag" src="/assets/designs/apricity/services/icon8.jpg" alt="billboard icon">
        </div>
        
        <br><br>

        <img class="banner shadow no-drag" src="/assets/designs/apricity/banners/banner1.jpg" alt="Vector art trees and mountains">
        <img class="banner shadow no-drag" src="/assets/designs/apricity/banners/banner2.jpg" alt="Vector art trees and mountains">
        <img class="banner shadow no-drag" src="/assets/designs/apricity/banners/banner3.jpg" alt="Vector art trees and mountains">
    </div>
</div>