<app-banner-two is-development bTitle="Nullnut Website" bSubTitle="A website I'm currently working on for Nullnut Development"></app-banner-two>
<br>

<div class="container">
    <div class="buttons-cont">
        <a href="https://master.d3hkrdj51voahm.amplifyapp.com/" target="_blank" class="btn btn-primary">View dev site</a>
        <a class="btn btn-light">Company source code currently private</a>
    </div>
</div>

<div class="container">
    <div class="web-images">
        <img class="img1" src="assets/web/pages/nullnut/images/img1.jpg" alt="Website image">
    </div>
</div>