<app-banner-two bTitle="Weirtz Website" bSubTitle="My personal portfolio website"></app-banner-two>
<br>

<div class="container">
    <div class="buttons-cont">
        <a href="https://github.com/dasreyh/weirtz-website" target="_blank" class="btn btn-primary">View source code</a>
    </div>
</div>

<div class="container">
    <div class="web-images">
        <img class="img1" src="assets/web/pages/weirtz/images/img4.jpg" alt="Website image">
        <img class="img1" src="assets/web/pages/weirtz/images/img1.jpg" alt="Website image">
        <img class="img1" src="assets/web/pages/weirtz/images/img2.jpg" alt="Website image">
        <img class="img1" src="assets/web/pages/weirtz/images/img3.jpg" alt="Website image">
        <img class="img2" src="assets/web/pages/weirtz/images/img5.jpg" alt="Website image">
        <img class="img2" src="assets/web/pages/weirtz/images/img6.jpg" alt="Website image">
        <img class="img2" src="assets/web/pages/weirtz/images/img7.jpg" alt="Website image">
    </div>
</div>