<router-outlet></router-outlet>
<!-- breadcrumb navigation. -->
<app-breadcrumb></app-breadcrumb>
<!-- Photos -->
<div class="header">
    <h1>Pixel Sorting</h1>
    <p>Some of my images generated running them through various </p>
</div>
<section id="photos" [@galleryAnimation]="images.length">
    <a *ngFor="let image of getImagesService()" [routerLink]="[image.id]">
        <picture>
            <source [srcset]="image.webpLow" type="image/webp">
            <source [srcset]="image.jpgLow" type="image/jpeg">
            <img [src]="image.jpgLow" alt="Pixel sorted image">
        </picture>
    </a>
</section>
