@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    background-color: white;
    overflow-y: scroll;
    background-color: #F1F2F6;
    /* always keep footer at botom - even if not full page*/
    min-height: 100vh;
    display: block;
    position: relative;
    padding-bottom: 55px; /* height of your footer */
}

::-webkit-scrollbar-track{   
    background-color: rgb(255, 255, 255);
    border-left: 1px solid rgb(207, 207, 207);
}

::-webkit-scrollbar{
    width: 8px;
    height:8px;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(207, 207, 207);
}

/* Disable image drag */
.no-drag{
    -webkit-user-drag: none;
     -khtml-user-drag: none;
       -moz-user-drag: none;
         -o-user-drag: none;
            user-drag: none;
}

/* Disable text selection*/
.no-select {
    -webkit-touch-callout: none; 
      -webkit-user-select: none; 
       -khtml-user-select: none; 
         -moz-user-select: none; 
          -ms-user-select: none; 
              user-select: none;         
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

#spinner-icon circle, #spinner-icon circle {
    stroke: white!important;
}

#spinner-icon{
    opacity: 0;
    animation: fadeIn 0.5s ease 0.2s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn{
    0%{opacity:0;}
    100%{opacity: 1;}
}