@import "~@angular/material/prebuilt-themes/indigo-pink.css";

a {
    outline: 0;
 }

body {
    background-image: url("/assets/background/dot-grid-dark.png"); 
    overflow-y: scroll;
    background-color: #F1F2F6;
    /* always keep footer at botom - even if not full page*/
    min-height: 100vh;
    display: block;
    position: relative;
    padding-bottom: 55px; /* height of your footer */
}

::-webkit-scrollbar-track{   
    background-color: rgb(255, 255, 255);
    border-left: 1px solid rgb(207, 207, 207);
}

::-webkit-scrollbar{
    width: 8px;
    height:8px;
}

::-webkit-scrollbar-thumb{
    background-color: #57626e;
    transition: 0.2s all;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #007bff;
}

/* Buttons */

.global-button-1{
    background: rgb(0,203,255);
    background: linear-gradient(90deg, rgba(0,203,255,1) 0%, rgb(50, 159, 255) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00cbff",endColorstr="#0086ff",GradientType=1);
    color: white;
    padding: 10px 30px;
    padding-bottom: 9px;
    border-radius: 7px;
    top: 20px;
    left: 10px;
    z-index: 10;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.2s ease-out all;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}

/* Disable image drag */
.no-drag{
    -webkit-user-drag: none;
     -khtml-user-drag: none;
       -moz-user-drag: none;
         -o-user-drag: none;
            user-drag: none;
}

/* Disable text selection*/
.no-select {
    -webkit-touch-callout: none; 
      -webkit-user-select: none; 
       -khtml-user-select: none; 
         -moz-user-select: none; 
          -ms-user-select: none; 
              user-select: none;         
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*Remove underline from contact form*/
.mat-form-field-underline{
    display:none;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: #F9F9FB;
    border:1px solid rgba(0,0,0,0.05);
}


.mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 5px!important;
    padding: .75em .75em 0 .75em;
}

/*Make spinner white on images page*/
#spinner-icon circle, #spinner-icon circle {
    stroke: white!important;
}

#spinner-icon{
    opacity: 0;
    animation: fadeIn 0.5s ease 0.2s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn{
    0%{opacity:0;}
    100%{opacity: 1;}
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #F9F9FB inset !important;
}