<div class="contain-bg">
    <div class="container">
        <div class="header">
            <h1>{{bTitle}}</h1>
            <span *ngIf="discontinued" class="info disc1 color-disc"><p>Discontinued</p></span>
            <span *ngIf="development" class="info disc1 color-dev"><p>In Development</p></span>

            <p class="subtitle">{{bSubTitle}}</p>
            <span *ngIf="discontinued" class="info disc2 color-disc"><p>Discontinued</p></span>
            <span *ngIf="development" class="info disc2 color-dev"><p>In Development</p></span>
        </div>
    </div>
</div>