.title{
    font-family:poppins;
    font-size:35px;
    font-weight:600;
}
.os:hover p{
    color:rgb(57, 120, 179)!important;
}
  
.os:hover svg{
    color:rgb(57, 120, 179)!important;
}

.container{
    padding-top:50px;
    background-color:white;
    min-height: 100vh;
    width: 100%;
    padding:40px 60px;
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 20px rgba(0, 0, 0, 0.06),
  0 22.3px 27.9px rgba(0, 0, 0, 0.072);
    position: relative;
    margin-bottom:50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.game{
    margin-bottom:40px;
    background-color: rgba(48, 73, 134, 0.05);
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    max-width:700px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0),
    0 6.7px 5.3px rgba(0, 0, 0, 0),
    0 12.5px 10px rgba(0, 0, 0, 0),
    0 22.3px 17.9px rgba(0, 0, 0, 0),
    0 41.8px 33.4px rgba(0, 0, 0, 0);
    transition: 0.1s all ease-out;
    outline:2px solid rgba(0,0,0,0.03);
    outline-offset: -2px;
}

.game:hover{
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086);
  transform: scale(1.1);
  outline:2px solid rgba(0,0,0,0);
  background: #009bff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #0a83e6, #19abff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #0a83e6, #19abff);
}

.game:hover .game-content{
    color: white;
}

.game:hover .description{
    color:white;
}

.game:hover .dev{
    color:rgb(0, 89, 255);
    background-color: rgba(255, 255, 255, 0.781);
}

.game-content{
    float: left;
    width:52%;
    color:rgb(68, 80, 92);
    margin:5px 0px;
    padding:20px;
}

.description{
    margin-top:8px;
    padding-bottom:10px;
    color:rgb(68, 80, 92);
    font-size: 12px;
}

.game-image img{
    

    width:100%;
}
.game-image{
    border-radius: 10px;
    
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
    border-radius: 3px;
    overflow: hidden;
    display: block;

}

.game-image-container{
    float:left;
    width:330px;
}

.links{
    margin-left:20px;
    margin-bottom:10px;
    margin-top:20px;
}

.game-list{
    margin-top:50px;
    margin-bottom:100px;
}
.game h3{

    font-size: 16px;
    font-family: poppins;
    font-weight: 500;
    margin-bottom:-3px;
    margin-top: 5px;
    transition: 0.2s all;
}

.os{
    padding:2px;
    margin-bottom:3px;
    text-align: left;
    width:300px;
    border-radius: 5px;
    position: relative;
}
.os p{
    color:rgb(57, 120, 179);
    display: inline-block;
    margin-left:10px;
    margin-bottom: 0px;
}
.os svg{
    color: rgb(57, 120, 179);
    font-size: 14px;
    transition: 0.2s all;
    display: inline-block;
}



.genere{
    margin-bottom:0px;
    color: rgb(123, 123, 138);
    transition: 0.2s all;
    display: inline-block;
    margin-bottom: 7px;
}

.game:hover h3{

    color:white;

}

.game:hover .os svg{
    color: rgb(255, 255, 255);
}

.game:hover .os p{
    color:white;
}

.spot-inner:hover .os-icon{
    color: rgb(255, 255, 255);
}

.game:hover .genere{
    color: rgb(197, 197, 211);
}

.thumbs{
    display: block;
}

.spot-inner{
    background-color: rgb(236, 239, 247);
    width:100%;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.1s all;
}

.spotlight{
    position: relative;
    display: block;
    margin-bottom:100px;
    
}

.thumbs img{
    max-width:25%;
    display: inline-block;
    padding-right:6px;
    padding-top:4px;
    opacity: 0.85;
}

.thumbs img:nth-child(4){
    padding-right: 0px;
}

.spot-content1{
    width:100%;
    position: relative;
    border-radius: 5px;
}

.spot-image-cont{
    overflow: hidden;
    padding:10px;
    float: left;
    width:60%;
}

.spot-text{
    width:40%;
    float: right;
    padding:20px;
}

.spot-text h3{
    font-family: poppins;
    font-weight: 600;
    font-size: 20px;
}

.spot-text p{
    padding-right: 20px;
    font-size: 15px;
}

.spot-text .genere{
    margin-bottom:8px;
}

.demo{
    border-radius: 5px;
    border: 1px solid rgb(95, 95, 95);
    margin:0 auto;
    margin-top:30px;
    max-width: 340px;
    text-align: center;
    padding:5px 10px;
    transition: 0.1s all;
}

.nolink{
    text-decoration: none;
    color:rgb(33, 37, 41);
}

.os:hover{
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086);
  background-color: white;
  transform: scale(1.1);
  padding-left:6px;
  width: 85%;
}

.spotlight-links{
    display: inline-block;
    text-align: center;
    margin:0 auto;
}

.spotlight-links a{
    width:300px;
}

.dev{
    color:rgb(21, 75, 39);
    background-color: rgb(196, 238, 196);
    width:100%;
    position: absolute;
    bottom:0;
    font-size: 10px;
    letter-spacing: 2px;
}

.dev p{
    padding:5px;
    margin:0px;
    text-align: center;
}

/* SCALING */

@media only screen and (max-width: 1200px) {
    .spot-image-cont{
        width:100%;
    }

    .spot-text{
        float:unset;
        width:100%;
        display: inline-block;
    }
    .spot-content1{
        width:100%;
    }
}

@media only screen and (max-width: 992px) {

    .spot-image-cont{
        width:100%;
    }

    .spot-text{
        float:unset;
        width:100%;
        display: inline-block;
    }
    .spot-content1{
        width:100%;
    }
    .game{
        padding:10px;
    }
    .game-image-container{
        width:100%;
        float:none;
    }
    .description{
        margin:0px;
    }

    .game-content{
        float: none;
        width:100%;
        color:rgb(68, 80, 92);
    }
    .game-image{
        margin-top:0px;
        margin-left:0px;
        margin-right:0px;
        margin-bottom:10px;
    }
    .dev{
        width:95%;
    }
}

@media only screen and (max-width: 768px) {

    .game-image-container{
        width:100%;
        float:none;
    }
    .game-image{
        margin-top:0px;
        margin-left:0px;
        margin-right:0px;
        margin-bottom:10px;
    }

    .description{
        margin:0px;
    }

    .game-content{
        float: none;
        width:100%;
        color:rgb(68, 80, 92);
    }
    .game{
        padding:10px;
    }
    .os{
        margin-left:10px;
    }
    .links{
        margin-left:0px;
        margin-bottom:10px;
        margin-top:20px;
    }
    .dev{
        width:95%;
    }
}