<br><br>
<div class="container">
    <div class="spotlight">
        <h2 class="title">Game spotlight</h2>
        
        <div class="spot-inner">
            
            <!-- <video class="spot-content1" autoplay muted loop>
                <source src="/assets/games/haunted-showers/spotlight/spotlight.mp4" type="video/mp4">
                <source src="/assets/games/haunted-showers/spotlight/spotlight.ogg" type="video/ogg">
                Your browser does not support the video tag.
              </video> -->
            <div class="spot-image-cont">
                <img class="spot-content1" src="/assets/games/haunted-showers/spotlight/spotlight.gif" alt="">
            </div>
            
            <div class="spot-text">
                <h3>Haunted Showers</h3>
                <p>Prepare for the worst showers of your life. Your Great Grand Uncle’s will notifies you that his estate will be passed on to you, that is if you’re still alive to enjoy it. Survive the trials and terrors of the five showers in his mansion, and his wealth is yours.</p>
                <p class="genere">In Development</p>
                <div class="links">
                    <a target="_blank" href="https://github.com/weirtz/haunted-showers"><div class="os"><i class="fab fa-github"></i><p>GitHub Repository</p></div></a>
                </div>

                <div class="demo">Demo Available Soon</div>
            </div>
           
        </div>

    </div>
    <div class="game-list">
        <h2 class="title">Game directory</h2>
        <hr>

            <div class="game">
                <div class="game-image-container">
                    <div class="game-image"><img src="/assets/games/never-new-years/banner.jpg" alt="Never New Years"></div>
                    <div class="links">
                        <a href="https://firebasestorage.googleapis.com/v0/b/weirtz-website.appspot.com/o/games%2Fnever-new-years%2Fnever-new-years-windows.exe?alt=media&token=97f7e26f-ac6b-47e6-8744-7cf205e7dfdc" download><div class="os"><i class="os-icon fab fa-windows"></i><p>Download (WINDOWS)</p></div></a>
                        <a href="https://firebasestorage.googleapis.com/v0/b/weirtz-website.appspot.com/o/games%2Fnever-new-years%2Fnever-new-years-mac.dmg?alt=media&token=ffd84486-4c8c-46fe-836e-0c5b6dd505ba" download><div class="os"><i class="os-icon fab fa-apple"></i><p>Download (MAC)</p></div></a>
                        <a target="_blank" href="https://github.com/weirtz/godot-game-jam-artic"><div class="os"><i class="fab fa-github"></i><p>GitHub Repository</p></div></a>
                    </div>
                </div>
                <div class="game-content">
                    <h3><b>Never New Years</b></h3>
                    <p class="genere">Release Date: Dec 31, 2021</p>
                    <p class="description"><i>Never New Years was created as a submition for the Artic Game Jam, with the theme of "New Years". I have since been adding small updates to the game.</i></p>
                    <p>You find yourself amidst a big problem, you are awakened by a strange scientist known as Quilliard T. Science, and most of all you dont happen to know where or who you even are. All you know, you must collect the scientists Gruntivators in order to survive New Years Eve...</p>
                </div>
            </div>

            <div class="game">
                <div class="game-image-container">
                    <div class="game-image"><img src="/assets/games/haunted-showers/banner.jpg" alt="Haunted Showers"></div>
                    <div class="links">
                        <a target="_blank" href="https://github.com/weirtz/haunted-showers"><div class="os"><i class="fab fa-github"></i><p>GitHub Repository</p></div></a>
                    </div>
                </div>
                <div class="game-content">
                    <h3><b>Haunted Showers</b></h3>
                    <p class="genere">In Development</p>
                    <p>Prepare for the worst showers of your life. Your Great Grand Uncle’s will notifies you that his estate will be passed on to you, that is if you’re still alive to enjoy it. Survive the trials and terrors of the five showers in his mansion, and his wealth is yours.
                    <p>Should you successfully come out of each bathroom thoroughly showered and intact, escaping the perils of the ghosts, ghouls, and creatures residing on Great Grand Uncle’s property, your troubles will all be a memory, and you’ll be bathing not in water, but doubloons… hopefully.</p>
                    <br>
                </div>
                
                <div class="dev">
                    <p><b>THIS GAME IS IN DEVELOPMENT</b></p>
                </div>
            </div>

            <div class="game">
                <div class="game-image-container">
                    <div class="game-image"><img src="/assets/games/observe-os/banner.jpg" alt="Observe-OS"></div>
                    <div class="links">
                        <a href="https://firebasestorage.googleapis.com/v0/b/weirtz-website.appspot.com/o/games%2Fobserve-os%2Fobserve-os.zip?alt=media&token=3a0e680d-3524-4737-a333-38c1fd09680e" download><div class="os"><i class="os-icon fab fa-windows"></i><p>Download</p></div></a>
                        <a target="_blank" href="https://github.com/weirtz/observe-os-gamejam"><div class="os"><i class="fab fa-github"></i><p>GitHub Repository</p></div></a>
                    </div>
                </div>
                <div class="game-content">
                    <h3><b>Observe-OS</b></h3>
                    <p class="genere">Release Date: Jun 01, 2018</p>    
                    <p class="description"><i>Observe-OS was created as a submition for an indie game jam, with the theme of "Blue screen of death".</i></p>
                </div>
            </div>


    </div>

    <div class="game-list">
        <h2 class="title">Projects and experiments</h2>
        <hr>

        <!-- <a class="nolink" href="https://store.steampowered.com/app/907630/Concord/" target="_blank">
        <div class="game">
            <img src="/assets/games/projects/concord/banner.jpg" alt="Condord">
            <div class="game-content">
                <h3>Concord</h3>
                <p class="genere">In Development</p>
                <div class="os"><i class="os-icon fab fa-windows"></i></div>

            </div>
        </div>
        </a> -->

        <div class="game">
            <div class="game-image-container">
                <div class="game-image"><img src="/assets/games/projects/godot-player-template/banner.jpg" alt="Godot player template"></div>
                <div class="links">
                    <a target="_blank" href="https://github.com/weirtz/godot-player-template"><div class="os"><i class="fab fa-github"></i><p>GitHub Repository</p></div></a>
                </div>
            </div>
            <div class="game-content">
                <h3><b>Godot Player Template</b></h3>
                <p class="genere">Godot Player Template</p>
                <p>Barebones Godot player template</p>
            </div>
        </div>

    </div>
</div>
